<div style="text-align: center; margin-top: 100px;">
	<%= image_tag "Tinggal.png" %>
	<h3>Sayang bini tinggal-tinggalkan</h3>

	<%= image_tag "1.png" %>
	<%= image_tag "2.png" %>
	<%= image_tag "3.png" %>
	<%= image_tag "4.png" %>
	<%= image_tag "5.png" %>
	<%= image_tag "6.png" %>
	<%= image_tag "7.png" %>
</div>